# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*./Project/Mobile/node_modules
*./Project/server/node_modules
*./Project/WEB/node_modules
*./Project/WEB/.env
*./Project/Mobile/FirebaseConfig.js
*./Project/server/Database/connection.js
*./Project/Mobile/src/utils/conf.js
*./Project/B2C-API/authConfig.js

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
Project/server/Database/connection.js
Project/Mobile/src/utils/conf.js
Project/server/Database/connection.js
Project/Mobile/src/utils/conf.js
Project/server/Database/connection.js
/Project/Mobile/src/utils
/Project/server/Database
Project/Mobile/src/utils/conf.js
