:root {
    --text: #333333;
    --background: #ffffff;
    --primary: #0790cf;
    --primary-hover:#067BB1;
    --secondary: #D8F2FE;
    --secondary-background:#CCCCCC;
    --accent: #aaff00;
  }

.body-measure-container{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80vh;
  justify-content: center;
}

.progress-exercise-container{
  display: flex;
  padding: 30px 100px;
  flex-direction: column;
}

.container3{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: flex-start !important;
}

.measures-list-header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.measures-list-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}



.cardcontainer2{
  list-style: none !important;
  width: 100% !important;
  padding: 0;
  height: 90vh !important;
  overflow-x: hidden;
  overflow-y: scroll !important;
  margin-bottom: 0;
}